<div class="container">

    <div class="row border p-1 mt-2">
            <h3>Viewer counter</h3>
            <div class="col-4">
            <div>CSharp Course - <span id="csharpCounter"></span></div>

            </div>
            <div class="col-4">
            <div>Java Course - <span id="javaCounter"></span></div>

            </div>
            <div class="col-4">
            <div>Reactjs Course - <span id="reactjsCounter"></span></div>
        </div>
            <hr />
            <p>Url to Vote:</p>
        <div>1. CSharp Course - https://localhost:7001/Home/Course?type=Csharp </div>
        <div>2. Java Course - https://localhost:7001/Home/Course?type=Java </div>
        <div>3. Reactjs Course - https://localhost:7001/Home/Course?type=Reactjs </div>
        </div>

    
</div>



<script src="~/js/signalr.js"></script>
<script src="~/js/viewerCounter.js"></script>
